---
sitemap:
  exclude: "yes"
---

@charset "utf-8";

/* =Colors */
$dorian: #ffffff;
$iron: #333333;
$cloudy: #828282;

@import "mixins", "default", "404";

code {
  background-color: #f5f5f5 !important;
  border-radius: 7px;
  font-size: 14px;
  padding: 1em !important;
}

code.highlighter-rouge {
  background-color: #eaeaea;
  padding: 2px 4px !important;
  border-radius: 4px;
}

cap {
  text-align: center;
  display: block;
  margin-top: -37px;
  font-size: 14px;
  color: #a5a5a5;
}

hr {
  opacity: .2;
}