.my-list-style {
  margin-left: 0;
}

.aw-bottom {
  padding: 2em;
}

.aw-footer {
  /*    height: 250px;*/
  padding-top: 2em;
  padding-bottom: 2em;
}

.aw-footer li {
  line-height: 200%;
}

.summary {
  margin-bottom: 2em;
  margin-top: 2em;
  color: black;
}

.summary pre {
  display: none;
}

.article-body {
  margin-top: 2em;
  color: black;
}


/**
 * Overrides of notebook CSS for static HTML export
**/
div.entry-content {
  overflow: visible;
  padding: 8px;
}

.inner_cell {
  width: 100%;
}

.input_area {
  padding: 0.2em;
}

a.heading-anchor {
  white-space: normal;
}

.rendered_html code {
  font-size: 0.8em;
}

pre.ipynb {
  color: black;
  background: #f7f7f7;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
  padding: 0;
  margin: 0px;
  font-size: 13px;
}

/* remove the prompt div from text cells */
.prompt {
  display: none;
}

/* remove horizontal padding from text cells, */
/* so it aligns with outer body text */
div.text_cell_render {
  padding: 0.5em 0em;
}

img.anim_icon {
  padding: 0;
  border: 0;
  vertical-align: middle;
  -webkit-box-shadow: none;
  -box-shadow: none;
}

div.collapseheader {
  width: 100%;
  background-color: #d3d3d3;
  padding: 2px;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* oai custom */
body {
  font-weight: normal;
  font-size: 1.7rem;
}

@font-face {
  font-family: EBGaramond;
  src: url("/theme/fonts/EBGaramond.ttf");
}

@font-face {
  font-family: Cormorant;
  src: url("/theme/fonts/Cormorant-VariableFont_wght.ttf");
}

/* first seperator invisible */
.no-top-table > tbody > tr:first-child > td {
  border-top: 1px solid transparent;
}

.no-top-table > tbody > tr > td {
  border-top: 1px solid #000;
}

.no-top-table {
  margin: 50px 0px;
}

a {
  color: #020b13;
  text-decoration: none;
}

hr {
  border-top: 1px solid;
}

.page-header {
  border-bottom: none;
}

.page-header h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.article-title {
  font-family: "Cormorant", Georgia, "Times New Roman", Times, serif;
  font-size: 6rem;
}

.subtitle {
  padding: 0;
}

.title-card {
  padding-bottom: 15rem;
  padding-top: 5rem;
  border-bottom: 1px solid;
}

.article-tags {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  font-size: 1.5rem;
}

.article-tags a {
  text-decoration: underline;
}

.category {
  padding: 0;
}

/* caption for images */
 cap {
  text-align: center;
  display: block;
  margin-top: -30px;
  font-size: 14px;
  color: #a5a5a5;
}

.article-body > p {
  font-family: "Cormorant", Georgia, "Times New Roman", Times, serif;
  font-size: 2.2rem;
  line-height: 32px;
}

.article-body   a {
  text-decoration: underline;
}

.article-body > h1{
  margin-top: 8rem;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.article-body > h2{
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.article-body > video,
img,
.twitter-tweet,
.instagram-media {
  margin: 40px auto;
  display: block;
  max-width: 100%;
  padding: 1rem;
}

code {
  font-size: 1.5rem;
}



.highlight pre {
  padding: 20px;
  font-size: 1.4rem;
}

.pagination ul > li > a, .pagination ul > li > span, .pagination ul {
  box-shadow: none;
  border: none;
}

.pagination ul > .active > a, .pagination ul > .active > span {
  background-color: #000;
  color: #fff;
}

#homePageArtCanvas {
  float: right;
}