<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.js"></script>
<script>
  function setup() {
    var canvas = createCanvas(20, 20);
    canvas.parent("homePageArtCanvas");
    noStroke();

    // Random Spaceship Assembly
    // By Atul Vinayak
    npix = 5;
    w = width / npix;
    for (var y = 0; y < npix; y++) {
      for (var x = 0; x < npix / 2; x++) {
        if (random(1) < 0.5) {
          fill(0);
          rect(x * w, y * w, w, w);
          rect((npix - x - 1) * w, y * w, w, w);
        }
      }
    }
  }
</script>
<span id="homePageArtCanvas"></span>
