{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        
{% if articles %}
<table class="table no-top-table">
    <tbody>
    {% for article in articles_page.object_list %}        
        {% if article.template == 'article' and not article.draft %}
        <tr>
        <td>{{ article.date.strftime("%d %b %Y") }}</td>
        <td><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a></td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
<!-- {% include 'pagination.html' %} -->
{% endif %} {# If articles #}
{% endblock content %}
